@page "/participant"
@using EduEventPlatform.Shared.Entities;
@using EduEventPlatform.WEB.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Participante</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/participants/create">Nuevo Participante</a>
</div>

<GenericList MyList="participants">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Participante</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var participant in participants!)
                {
                    <tr>
                        <td>
                            @participant.NameParticipant
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>


                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Participant>? participants { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Participant>>("/api/countries");
        participants = responseHppt.Response!;
    }


  

}