@page "/EventSchedule/create"

@using EduEventPlatform.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Programa del Evento</h3>
<EventsScheduleForm @ref="eventsScheduleForm" eventSchedule="eventSchedule" OnSubmit="Create" ReturnAction="Return" />
@code {
    private EventSchedule eventSchedule = new();

    private EventsScheduleForm? eventsScheduleForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/EventSchedule", eventSchedule);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        eventsScheduleForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/EventSchedule");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/EventSchedule");
    }
}
