@page "/"

<PageTitle>Index</PageTitle>

<h1>Plataforma de Gestión de Eventos Académicos Descripción</h1>

El propósito de este proyecto es desarrollar una plataforma que facilite la organización y gestión
eficiente de eventos académicos, conferencias y simposios en diferentes campos de estudio

<SurveyPrompt Title="Integrantes" />
